{
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html", "*.js", "*.vue", "*.json", "*.ts"],
      "options": {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "arrowParens": "avoid",
        "proseWrap": "preserve",
        "printWidth": 120,
        "vueIndentScriptAndStyle": true
      }
    }
  ]
}
